<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Template">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <title>Template</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <div class="container">
        <img src="img/logo.png">
      </div>
      <form id="form">
        <div class="containerV">
          <input type="text" id="send" placeholder="メンター名">
          <input type="submit" value="回答"> 
        </div>
      </form>
      <ul id="messageBox" style="display:none;"></ul>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="js/main.js"></script>
    </body>
</html>