* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/img/bg.png);
  background-repeat: repeat;
}

.container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.containerV {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

input {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="text"] {
  width: 80vw;
  height: 50px;
  text-align: center;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.2);
}

input[type="submit"] {
  margin-top: 15px;
  width: 50vw;
  height: 50vw;
  text-align: center;
  font-size: 40px;
  background-color: rgba(31, 33, 101, 1);
  border: 2px solid white;
  border-radius: 50%;
  color: white;
}

#messageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  margin-left: 10vw;
}

.hide {
  display: none;
}

.but {
  width: 70vw;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  background-color: rgba(31, 33, 101, 1);
  border-radius: 20px;
  color: white;
  font-size: 70px;
}